

body {
    margin: 0px;
    font-size:16px;
    padding-top:80px;
    padding-right:30px;
    padding-left:100px;
    overflow-x: hidden;
   

}

a {
    text-decoration: none;
    color:black;
}



    